@mixin displayFlexStandard($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin displayFlexWrap($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin displayFlexjustify($direction) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin displayFlexAlign($direction) {
  display: flex;
align-items: center;
  flex-wrap: wrap;
}


