$color-white: #fdf7ec;   
$color-black:rgb(41, 40, 40);
$color-green: #1E392A;        
$color-gray: #736B5B;  
$color-beigedark: #C1A57B; 
$color-red: rgb(230, 69, 99); 
$color-pink: #FCA2A2;
$color-light: rgb(250, 244, 193);
$color-lightgreen: #586e5d;
   

