$color-white: #fdf7ec;   
$color-black:rgb(41, 40, 40);
$color-gold: gold;
$color-yellow: rgb(238, 222, 131);
$color-blue: rgb(20, 72, 107);
$color-blue-dark: rgb(3, 42, 68);
$color-green: #1E392A;        
$color-gray: #736B5B;  
$color-beigedark: #C1A57B; 
$color-beige: #c29e69; 
$color-red: rgb(230, 69, 99); 
$color-pink: #FCA2A2;
$color-light: rgb(250, 244, 193);
$color-lightgreen: #586e5d;
   

