@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.card {
  background-image: linear-gradient(
    to right,
    $color-lightgreen,
    $color-beigedark,
    $color-light
  );
  
  @include displayFlexStandard(column);
  width: 280px;
  height: 400px;
  margin: 40px;
  padding: 20px;
  border: 1px solid $color-lightgreen;
}
