@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.navbar {
  background-color:$color-beigedark;
  height: 100px;
  width: 100%;
  @include displayFlexStandard(row);
  border-bottom: 2px solid  #768a7a;
  border-top: 2px solid   #dbd086;
  
  .menubar {
    a {
      margin: 40px;
      border: 3px solid #FFE7B9;
      padding: 15px 30px;
      font-size: 25px;
      background-color: #B66666;
      color: #FFE7B9;
      border-radius: 10px;
    }
    
    a:hover{
      background-color: #FCA2A2;
      color: #3F3E3E
    }
  }
}
