@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.navbar {
  @include displayFlexStandard(row);
  background-color: $color-beigedark;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid $color-lightgreen;
  border-top: 2px solid $color-light;

  .menubar {
    a {
      @include border($color-light);
      @include colors($color-redd, $color-light);
      margin: 40px;
      padding: 15px 30px;
      font-size: 25px;
    }
    a:hover {
      @include colors($color-pink, $color-green);
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .menubar a {
      padding: 15px 10px;
      font-size: 16px;
      margin: 5px;
    }
  }
}
