@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.navbar {
  background-color:$color-beigedark;
  height: 100px;
  width: 100%;
  @include displayFlexStandard(row);
  border-bottom: 2px solid  #768a7a;
  border-top: 2px solid   #dbd086;
  
  .menubar {
    a {
      margin: 40px;
      @include border($color-light);
      padding: 15px 30px;
      font-size: 25px;
      background-color: #B66666;
      color: #FFE7B9;
      
    }
    
    a:hover{
      background-color: #FCA2A2;
      color: #3F3E3E
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .menubar a {
      padding: 15px 10px; 
      font-size: 16px; 
      margin: 5px;
    }
  }
}