@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
.header{
    background-color: $color-gray;
  @include displayFlexWrap(column);
    height: 16vh;
    background-image: url("../../../../public/assets/books-4515917_1280.jpg");
    background-size: cover;
    background-position:top; 
    background-repeat: no-repeat; 

    h2{
        font-size: 60px;
        font-weight: bold;
        margin-right: 25px;
        background: linear-gradient(
            to right, 
            $color-light,
            $color-white,
       
           
          );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
    }
}