@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";
.header {
  background-color: $color-gray;
  @include displayFlex();
  height: 16vh;
  background-image: url("../../../../public/assets/books-4515917_1280.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  h2 {
    @include font(60px, bold);
    margin-right: 25px;
    background: linear-gradient(to right, $color-light, $color-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 45%;
    margin-right: auto;
  }
}
