@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles//functions.scss";

.buttonsmall {
  @include displayFlexStandard(row);
  @include border($color-light);
  @include colors($color-redd, $color-light);
  width: 150px;
  margin: 20px 0 20px 5px;
  padding: 10px 20px;
  font-size: 25px;
}

.buttonsmall:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, $color-lightgreen, $color-light);
}

.buttonmedium {
  @include displayFlexStandard(row);
  color: white;
  padding: 10px 20px;
  @include border($color-light);
  margin: 0px 20px 0px 0px;
  @include font(25, bold);
}

.buttonmedium:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, $color-lightgreen, $color-light);
}
