@import "../styles//functions.scss";
@import "../styles/variables.scss";

.form{
    background-color: $color-beige;
    padding: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .items{
        input{
            padding: 5px;
            color: $color-green;
        }

        select{
            padding: 8px;
            margin: 0 10px;
        }

        button{
            padding: 5px;
            margin: 15px 0 0 5px;
            background-color: $color-yellow;
            color: $color-blue-dark;
            border: 3px solid$color-blue-dark;
        }
    }
}