@import "../styles//functions.scss";
@import "../styles/variables.scss";

.favorits {
  @include displayFlexWrap(row);
  height: 200px;
  width: 50%;

  margin: 20px 0px 50px 50px;

  input {
    padding: 20px 20px;
    border: 1px solid $color-light;
    border-radius: 10px;
    background-color: $color-white;
  }

  a {
    color: $color-white;
    padding: 10px 20px;
    border: 2px solid $color-light;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 75px;
  }

  a:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      $color-lightgreen,
      $color-light
    );
    color: $color-green;
  }
}
