@import "../app//styles/variables.scss";
@import "../app//styles/functions.scss";

.main {
background-color: #586e5d;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 40px;
    margin: 60px 0 20px 0;
    color:#FCA2A2;
    font-weight: bold;
    text-decoration: underline;
    background: linear-gradient(
      to right, 
  $color-pink,
  $color-light,
  $color-white,
    );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
  }

  .biblioteket {
    @include displayFlexjustify(row);
    background-color: #39473c;
    border: 2px solid #FCA2A2;
    border-radius: 25px;
    width: 80vw;
    margin: 20px;
    padding-top: 50px;
  }

  .books {
    display: flex;
    flex-wrap: row;
  }
}
