@import "../app//styles/variables.scss";
@import "../app//styles/functions.scss";

.main {
  background-image: url("../../public/assets/opened-book.webp");
  background-repeat: no-repeat; 
    background-position: right; 
    background-size: cover; 
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 40px;
    margin: 60px 0 20px 0;
    color:#FCA2A2;
    font-weight: bold;
    text-decoration: underline;
    background: linear-gradient(
      to right, 
  $color-light,
  $color-light,
  $color-white,
    );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
  }

  .biblioteket {
    @include displayFlexjustify(row);
    background-image: linear-gradient(to right, $color-white);
    // border: 2px solid $color-lightgreen;
    border-radius: 25px;
    width: 80vw;
    // margin: 20px;
    // padding-top: 50px;
  }

  .books {
    display: flex;
    flex-wrap: row;
  }
}
