@import "../app//styles/variables.scss";
@import "../app//styles/functions.scss";

.main {
  background-image: linear-gradient(to right, $color-lightgreen, $color-light);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
@include displayFlexAlign(column);

  .title {
    font-size: 40px;
    margin: 30px 0 20px 0;
    font-weight: bold;
    background: linear-gradient(
      to right,
      $color-light,
      $color-light,
      $color-white
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .library {
    @include displayFlexjustify(row);
    width: 80vw;
  }

  .books {
   @include displayFlexWrap(row);
  }
}
