@import "../../styles//functions.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.search {
  @include displayFlexStandard(row);
  height: 200px;
  width: 50%;
  margin: 20px 0px 50px 50px;

  input {
    @include border($color-light);
    padding: 20px 20px;
    background-color: $color-white;
    font-size: 20px;
  }

  a {
    @include border($color-light);
    @include font(25px, bold);
    color: $color-white;
    padding: 10px 20px;
    margin: 0px 20px 0px 0px;
    margin-left: 75px;
  }

  a:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      $color-lightgreen,
      $color-light
    );
  }
}
