@import "../styles//functions.scss";
@import "../styles/variables.scss";

.readbooks {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: #586e5d;
  min-height: 100vh;


  h1 {
    font-size: 30px;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 20px;
  }

  .listitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #39473c;
    border: 2px solid #FCA2A2;
    border-radius: 25px;
     width: 33vw;
    margin: 20px;
    padding-top: 50px;
  

    img{
     padding: 20px;
    }
  }
}
