@import "../styles//functions.scss";
@import "../styles/variables.scss";

.readbooks {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: #586e5d;
  min-height: 100vh;
  color: $color-white;

  .bookcount{
    font-size: 25px;
    color: $color-light;
  }


  h1 {
    font-size: 30px;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 20px;
  }

  .listitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #39473c;
    border: 2px solid #FCA2A2;
    border-radius: 25px;
     width: 33vw;
    margin: 20px;
    padding-top: 50px;
    
    button{
      margin-left: 100px;
      background-color: $color-red;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 5px;
    }

    img{
     padding: 20px;
    }

    .review{
      @include displayFlexWrap(column);
      margin: 50px 10px 20px 10px;
      p{
        margin: 10px;
        color: $color-light;
        font-size: 18px;
      }

      .click{
        text-decoration: underline;
        margin-bottom: 10px;
        color: $color-pink;
        cursor: pointer;
      }

      .reviews{
        @include displayFlexWrap(row);
      }
    }
  }
}
