@import "../styles//functions.scss";
@import "../styles/variables.scss";

.readbooks {
 @include displayFlexAlign(column);
  background-color: #586e5d;
  min-height: 100vh;
  color: $color-white;

  .count{
    font-size: 25px;
    }

  .bookcount {
   @include displayFlexStandard(column);
    background-color: #39473c;
    border: 2px solid #fca2a2;
    border-radius: 25px;
    width: 33vw;
    margin: 20px;
    padding-top: 50px;

    .average {
      @include displayFlexAlign(row);
      padding: 10px;
      margin: 10px;

      button{
        background-color: $color-lightgreen;
        border: 2px solid $color-green;
        border-radius: 10px;
        padding: 10px;
      }
    }

    .authors {
      margin: 20px 0px;
      padding: 10px;

      button{
        background-color: $color-lightgreen;
        border: 2px solid $color-green;
        border-radius: 10px;
        padding: 10px;
      }
    }

    p {
      margin: 20px;
      font-size: 20px;
    }
  }

  h1 {
    font-size: 30px;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 20px;
  }

  .listitem {
   @include displayFlexStandard(column);
    background-color: #39473c;
    border: 2px solid #fca2a2;
    border-radius: 25px;
    width: 33vw;
    margin: 20px;
    padding-top: 50px;

    button {
      margin-left: 100px;
      background-color: $color-red;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 5px;
    }

    img {
      padding: 20px;
    }

    .review {
      @include displayFlexWrap(column);
      margin: 50px 10px 20px 10px;
      p {
        margin: 10px;
        color: $color-light;
        font-size: 18px;
      }

      .click {
        text-decoration: underline;
        margin-bottom: 10px;
        color: $color-pink;
        cursor: pointer;
      }

      .reviews {
        @include displayFlexWrap(row);
      }
    }
  }
}
