@import "../styles/functions.scss";
@import "../styles/variables.scss";

.favbooks{
    @include displayFlexStandard(column);

    h1{
      font-size: 30px;
      font-weight: bold;
    }
    .listitem{
        @include displayFlexStandard(row);

        h2{
            font-size: 25px;
           
        }
      }
    button{
        margin-left: 15px;
        padding: 10px;
        background-color: $color-yellow;
        border: 3px solid$color-blue-dark;
        color: $color-blue-dark;
    }
}