@import "../styles/functions.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

//search
.search {
  @include displayFlex();
  background-image: linear-gradient(to right, $color-lightgreen, $color-light);
  min-height: 100vh;

  .searchbox {
    @include displayFlexAlign(column);
    background-image: url("../../../public/assets/opened-book.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    @include border($color-light);
    min-width: 80vw;
    height: 80vh;
   
  }

  span {
    font-size: 20px;
    padding: 10px;
    color: $color-white;
    font-weight: bold;
  }

  .btns {
    @include displayFlexAlign(row);
   margin-top: 100px;
  }
}

//list
.listitemcontainer {
  padding-top: 20px;
 @include displayFlexAlign(column);
  background-color: $color-lightgreen;
  min-height: 100vh;

  h1 {
    font-size: 30px;
    padding-top: 20px;
    color: $color-white;
    margin-left: 20px;
  }

  .listitem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    max-width: 800px;
    background-image: linear-gradient(
      to right,
      $color-lightgreen,
      $color-light
    );
    color: $color-white;
    border: 2px solid $color-red;
    margin: 20px;
    padding: 30px 60px;

    h2 {
      margin-left: 50px;
      font-size: 30px;
      padding-top: 20px;
    }
    img {
      margin-right: 50px;
    }

    link {
      font-size: 20px;
      margin: 20px;
      padding: 10px 20px;
      background-color: $color-green;
      color: $color-white;
      @include border($color-red);
      margin-right: 50px;
      @include displayFlexStandard(row);
    }
    .list {
      display: flex;
      flex-direction: column;
      margin: 20px;
    }
  }

  .listitem:hover {
    background-image: linear-gradient(to right, $color-beigedark, $color-light);
    color: $color-red;
    cursor: pointer;
  }

  //list details
  .listdetails {
    @include displayFlexWrap(column);
    background-color: $color-white;
    @include borderbig($color-green);
    padding: 20px 20px;
    margin-top: 50px;
    max-width: 70vw;

    h2 {
      font-size: 30px;
      padding-top: 20px;
    }

    p {
      width: 900px;
      font-size: 20px;
      padding: 10px;
    }

    a {
      font-size: 23px;
      padding: 0px 0 0 20px;
      color: $color-green;
      text-decoration: underline $color-red;
    }

    .favorits {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      margin-top: 40px;

      a{
        font-size: 20px;
      }

      .favbook,
      .favread {
       @include displayFlexStandard(row)
      }

      .favread {
        h1 {
          color: $color-green;
        }
      }

      .star {
        width: 50px;
        height: 50px;
        margin-left: 5px;
      }
      .star:hover {
        background-color: rgb(234, 228, 228);
        cursor: pointer;
      }
    }
  }
}

